html, body {
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    font-weight: bold;
    margin-top: 0;
}

h2, h3, h4, h5, h6 {
    margin: 1.2em 8px 0.5em;
    border-bottom: solid 2px #BDBDBD;
    position: relative;
    font-weight: bold;
}

h2:after, h3:after, h4:after, h5:after, h6:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 2px #424242;
    bottom: -2px;
    width: 0%;
}

header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

table {
    width: 100%;
    max-width: 100%;
}

table ul {
    padding-left: 2em;
}

table td:before {
    padding-right: 2em;
}

table td {
    text-align: left !important;
}

#contents {
    position: relative;
    min-height: 100%;

    height: auto !important;
    height: 100%;
}

div.article {
    position: relative;
    background-color: white;
    box-shadow: 0.5px 0px 1.5px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    padding: 32px;
}

@media screen and (max-width: 1000px) {
    #contents {
        background-color: white !important;
    }

    div.article {
        padding: 16px 16px 32px;
        width: calc(100% - 32px);
        box-shadow: none;
    }
}

div.article * {
    margin-left: 0px;
    margin-right: 0px;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#element {
    background-color: #f1f1f1;
    margin: 5px 5px;
    padding: 4px 4px;
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-basis: calc(25% - 18px);
    -webkit-flex-basis: calc(25% - 18px);
}

@media screen and (max-width: 600px) {
    #element {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    #element {
        flex-basis: calc(50% - 18px);
        -webkit-flex-basis: calc(50% - 18px);
    }
}

#element a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

#element p {
    margin: 5px 0;
    padding: 10px 15px;
}

#element p.date {
    padding-top: 10px;
    padding-bottom: 0px;
}

#element:hover {
    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 5px 0px rgba(0,0,0,0.24);
}

#container {
    padding-bottom: 100px;
}

main.container {
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    main.container  {
        padding: 0px;
    }
}

code {
    all: unset;
    background: #e6e6e6;
    border-radius: .125rem;
    font-family: 'Source Code Pro', monospace;
    padding: 0.125rem 0.25rem;
    white-space: -moz-code-wrap; /* Mozilla */
    white-space: -code-wrap;     /* Opera 4-6 */
    white-space: -o-code-wrap;   /* Opera 7 */
    white-space: code-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
}

p.date {
    text-align: right;
    color: #9E9E9E;
}

pre {
    margin: 1.5em -32px !important;
    padding: 12px 32px;
    box-sizing: border-box;
    margin: 1.5em 0px;
}

@media screen and (max-width: 1000px) {
    pre {
        margin: 1.5em -16px !important;
        padding: 12px 16px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    padding-top: 20px;
}
